@import 'normalize.css';

@font-face {
  font-family: 'GoogleSans';
  src: url('@/assets/fonts/GoogleSans-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleSans';
  src: url('@/assets/fonts/GoogleSans-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'GoogleSans';
  src: url('@/assets/fonts/GoogleSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleSans';
  src: url('@/assets/fonts/GoogleSans-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'GoogleSans';
  src: url('@/assets/fonts/GoogleSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleSans';
  src: url('@/assets/fonts/GoogleSans-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GoogleSans';
  src: url('@/assets/fonts/GoogleSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleSans';
  src: url('@/assets/fonts/GoogleSans-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'GoogleSans';
  src: url('@/assets/fonts/GoogleSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleSans';
  src: url('@/assets/fonts/GoogleSans-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GoogleSans';
  src: url('@/assets/fonts/GoogleSans-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleSans';
  src: url('@/assets/fonts/GoogleSans-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'GoogleSans', sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
}
